<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/css/styles-carrito-compras.css" rel="stylesheet">
    <title>Carrito de compras</title>   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/styles-detalle-producto.css" rel="stylesheet">
    <link href="/css/styles-carrito-compras.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css"> </link>
    <link href="/css/styles-header.css" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/13e38d5bb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <header id="header">
                <nav>
                    <div id="menu">
                        <ul class="menu-left">
                            <i id="burger-menu" class="fa-solid fa-bars fa-2x"></i>
                            <li class="item"><a href="/" title="Home">Home</a></li>
                            <li class="item"><a href="#header" title="Nosotros">Nosotros</a></li>
                            <li class="item"><a href="#header" title="Contacto">Contacto</a></li>
                            <li class="item"><a href="/productos" title="Contacto">Productos</a></li>
                        </ul>
                        <h2 class="brand">TOSTAO</h2>
                        <ul class="menu-right">
                            <li class="item"><a href="/login" title="Login">Login</a></li>
                            <a href="/carrito-compras" title="Carrito"><li class="fa-solid fa-cart-shopping fa-2x"></li></a>
                        </ul>
                    </div>
                </nav>
            </header>
        </header>
<!-- titulo principal-->
        <producto class="pro1">            
                <h1>CARRITO DE COMPRAS</h1>            
        </producto>
            
<!-- Banner-->
        <figure class="banner">
            <img src="/img/banner-tostado.jpg">
        </figure>

<!-- tabla 1-->
        <main class="pro2">
            <div class="grid-container">
                <div class="item1">
                    <b><div class="title">Tamaño</div></b>
                    <b><div class="title">Precio</div></b>
                    <b><div class="title">Cantidad</div></b>
                    <b><div class="title">Subtotal</div></b>
                    <b><div class="title">Molienda</div></b>
               </div>
              <div class="item2">	
                    <div class="mains">
                        <img class="imgPrdo"src = "/img/cafe-bolsa-1.png"> </img>
                        <div class="descProd">
                          <h2 class="nombre-producto">COLOMBIA BLEND</h2>                        
                          <div><p><strong>País:</strong> Colombia</p></div>
                          <div><p><strong>Cuerpo:</strong> Medio</p></div>
                          <div><p><strong>Intensidad:</strong> Media</p></div>
                          <div><p><strong>Notas:</strong> Chocolate, cítricos</p></div>
                        </div>
                    </div>
             <div class="mains">
  
              <div class="mains">
                  <img class="imgPrdo"src = "/img/cafe-bolsa-1.png"> </img>
                  <div class="descProd">
                    <h2 class="nombre-producto">COLOMBIA BLEND</h2>                        
                    <div><p><strong>País:</strong> Colombia</p></div>
                    <div><p><strong>Cuerpo:</strong> Medio</p></div>
                    <div><p><strong>Intensidad:</strong> Media</p></div>
                    <div><p><strong>Notas:</strong> Chocolate, cítricos</p></div>
                  </div>
              </div>
             </div>	         
             
                </div> 
                    <div class="item3">	
                        <div class="mains">1 lb</div>
                        <div class="mains">Grano</div>
                        <div class="mains">$50</div>
                        <div class="mains">2</div>
                        <div class="mains">$100</div>				
                   </div> 
                   
             <div class="item5">	
                        <div class="mains2">1 lb</div>
                        <div class="mains2">Grano</div>
                        <div class="mains2">$50</div>
                        <div class="mains2">2</div>
                        <div class="mains2">$100</div>	
              </div> 
                
            </div>           

        </main>

<!-- tabla 2-->
        <main2 class="pro3">
            <h1> tabla dos</h1>
        </main2>
        
<!-- footer-->
        <footer class="footer">         
        <section id="footer-first-section">
            <img id="imagen-logo" src ="/img/logo.svg"></img>
            <article>
                <h4>REDES SOCIALES</h4>
                <p>@tostaocafe</p>                
            </article>
            <article>
                <h4>TÉRMINOS Y CONDICIONES:</h4>
                <p>Términos y condiciones</p>
                <p>suscripciones.</p>
                <p>entrega de productos</p>
                
            </article>
            <article>
                <h4>CONTÁCTANOS</h4>
                <p>(601) 111 2 11 511 - 01 8000 677567</p>
                    <p>Lunes a viernes de 8 am a 5 pm</p>
                        <p>Sábados 8 am a 12 m</p>
            </article>
        </section>
    </footer>       
    </div>

</body>
</html>
